# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


# --------------------
# Eclipse Files
# --------------------
.project
.metadata
*.bak
.classpath
.settings/
.externalToolBuilders/

# --------------------
# App Files
# --------------------
*.class
*.jar
*.log
*.*~
*.orig
/RemoteSystemsTempFiles/
/Servers/
target
logs/


# --------------------
# Generated Artifacts
# --------------------
src/main/webapp/frontend/node_modules/
src/main/webapp/frontend/bower_components/
*/src/main/webapp/frontend/npm-debug.log
