
    </div>
    <!-- container -->
    <!-- END the fixed width setting -->
    {{> templates/footer}}

    {{> templates/frontend_config}}

    <script src="/frontend/prod/vendor_scripts/jquery/dist/jquery.min.js"></script>
    <script src="/frontend/prod/vendor_scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/frontend/prod/vendor_scripts/angular/angular.min.js"></script>

    <script src="/frontend/prod/core_scripts/ui-bootstrap.min.js"></script>
    <script src="/frontend/prod/core_scripts/ui-bootstrap-tpls.min.js"></script>

    <script src="/frontend/prod/core_scripts/upraiselabs_app.js"></script>

    <script src="/frontend/prod/core_scripts/date-picker.js"></script>

    <script src="/frontend/prod/core_components/registration/registration-service.js"></script>
    <script src="/frontend/prod/core_components/registration/registration-controller.js"></script>
    <script src="/frontend/prod/core_components/login/login-service.js"></script>
    <script src="/frontend/prod/core_components/login/login-controller.js"></script>

  </body>
</html>